{% extends "front/base.html.twig" %}

{% block main %}

{% for product in products %}
    
   {# <div class="cardd mb-3 ms-5 mt-4 d-inline-block" style="width: 18rem;">
			<img src="{{asset('media/' ~ product.images[0].src)}}" alt="{{product.images[0].alt}}" class="productd-img-top" width= 200px> #}
  <div class="productd-body"> 
  <h1>{{product.name}}</h1> 
<h2>{{product.price}}</h2>
<h3>{{product.stock}}</h3>
<a href="{{path('admin_product_show', {'id' : product.id}) }}"  class=" btn btn-primary">
					Voir le product
				</a>  </div>
</div>

{% endfor %}

{% endblock %}