{% extends "front/base.html.twig" %}

{% block main %}

	<div
		class="card mb-3 ms-5 mt-4" style="width: 18rem;">

		{# {% for image in category.images %}
			
						<img width="200px" src="{{ asset('media/' ~ image.src) }}" alt="{{ image.alt }}">
			
					{% endfor %}   #}
		<div class="card-body">
			<div class="card-body">
				<h1>{{category.name}}</h1>
				<h2>{{category.description}}</h2>
				<a href="{{path('category_list')}}" class="btn btn-primary">Retourner aux categories</a>
			</div>
		</div>

	</div>

	<h2>Voici les products de la category
		{{ category.name }}
		:</h2>

	{% for product in category.products %}

		<div class="card-body d-inline-block">

			<img width="200px" src="{{ asset('media/' ~ product.images[0].src) }}" alt="{{ product.images[0].alt }}">

			<h3>
				<a href="{{path("product_show", {'id' : product.id})}}">{{product.name}}</a>
			</h3>

		</div>
	{% endfor %}
{% endblock %}
