{% extends "admin/base.html.twig" %}

{% block main %}

	<div class="card mb-3 ms-5 mt-4" style="width: 18rem;">

		{# {% for image in category.images %}

			<img width="200px" src="{{ asset('media/' ~ image.src) }}" alt="{{ image.alt }}">

		{% endfor %}   #}
		<div class="card-body">
			<div class="card-body">
				<h1>{{category.name}}</h1>
				<h2>{{category.description}}</h2>
				<a href="{{path('category_list')}}" class="btn btn-primary">Retourner aux categories</a>
			</div>
		</div>
	{% endblock %}

  
